.contactform {
    display: flex;
    flex-direction: column;
    max-width: 500px;
width:100%;
    align-items: center;
    border-radius: 20px;
    background-color: #DCDCDC;
    padding: 24px;
}

/* .container {
  max-width: 1440px; 
  width: 80vw;      
  margin: 0 auto;   
  display: flex;
  flex-direction: column;
  align-items: center;
} */

h1 {
   text-align: center;
  }

form {
    display: flex;

    flex-direction: column;
    align-items: center;

    gap: 12px;
    width: 100%;
  }

  form label,input,textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 12px;
    min-height: 32px;
  }

  form input {
    padding: 8px;
  }



  form textarea{
    min-height: 250px;
      padding: 8px;
      resize: none;
  }

  form button{
    margin-top: 32px;
    margin-bottom: 0;
  }

  main {
    min-height: calc(100vh - 80px - 132px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }