html body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.2);
}



.LogoHeader {
    width: 180px;
    height: 55px;
}

.MenulinksHeader {
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 8px;
    display: inline-flex;
}

.MenulinksHeader:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    color: #098C09;
}

.hidden-on-desktop {
    display: none;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 9px;
}

nav ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: none;
    color: #248000;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 4px;
}

.nav-active {
    color: #248000;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 4px;
}


.responsive-nav {
    max-width: 300px;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg_alternativ);
    filter: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.1));
    box-shadow: var(--shadow);
    transition: transform 100ms ease-in-out;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: 20px;
}

.responsive-nav nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive-nav-closed {
    transform: translateX(100%);
}

html body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 20px;
    padding-top: 15px;
    background-color: #342f35;
    margin-top: auto;
}

.footer-logo {
    width: 180px;
    height: 70px;
}

.footer-socials img {
    width: 150px;
    height: 45px;
    padding-left: 10px;
}

.TabelleImpressum{
    font-size: 15px;
}

.TabelleImpressum td{
    padding: 5px;
    padding-bottom: 15px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-3px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 1200px) {}

@media(max-width: 1100px) {}

@media(max-width: 1000px) {}

@media(max-width: 900px) {
    .MenulinksHeader {
        font-size: 12px;
        text-decoration: none;
        color: black;
        padding-left: 15px;
        padding-top: 50px;
        padding-bottom: 8px;
        display: inline-flex;
    }

    .LogoHeader {
        width: 150px;
        height: 45px;
    }


    .footer-socials img {
        width: 100px;
        height: 30px;
        padding-left: 10px;
    }

    .footer-logo {
        width: 140px;
        height: 50px;
    }

}

@media(max-width: 800px) {}

@media(max-width: 700px) {}

@media(max-width: 600px) {

    .footer-socials img {
        width: 60px;
        height: 20px;
        padding-left: 10px;
    }

    .footer-logo {
        width: 100px;
        height: 40px;
    }

    .LogoHeader {
        width: 120px;
        height: 35px;
    }


}

@media(max-width: 500px) {}

@media(max-width: 400px) {}

@media(max-width: 300px) {}

:root {
    --green: #248000;
    --footer-bg: #403b3b;
    --bg: #ffffff;
    --bg_alternativ: #efefef;
    --border: #f7f7f7;
    --radius: 12px;
    --shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    --header-height: 70px;
    --footer-height: 90px;
    --input-btn-height: 30px;
}

@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}


body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: black;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    margin-block: 0;
}





.hidden-on-desktop {
    display: none;
}

.btn-primary {
    background-color: var(--green);
    height: var(--input-btn-height);
    min-width: 200px;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

header {
    display: flex;
    height: var(--header-height);
    width: 100%;
    font-weight: 500;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 55px;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 9px;
}

nav ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: none;
    color: #248000;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 4px;
}

.nav-active {
    color: #248000;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 4px;
}

.hamburger-menu {
    width: 30px;
}

.responsive-nav {
    max-width: 300px;
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg_alternativ);
    filter: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.1));
    box-shadow: var(--shadow);
    transition: transform 100ms ease-in-out;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: 20px;
}

.responsive-nav nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive-nav-closed {
    transform: translateX(100%);
}

.main {
    width: 100%;
    /* ocupă toată lățimea */
    min-height: calc(100vh - var(--header-height) - var(--footer-height));

    display: flex;
    justify-content: center;
    /* centrează pe orizontală */
    align-items: flex-start;
    /* pornește de sus, nu centru vertical */

    padding-top: 40px;
    /* spațiu plăcut de sub header */
}

.impressum_box {
    text-align: left;
    max-width: 400px;
    background-color: #f7f7f7;
    padding: 24px;
    border-radius: 15px;
    border: 1px solid #e6e1ea;
}

.impressum_box h2 {
    font-size: 24px;
}

.impressum_box p {
    font-size: 15px;
}

@media (max-width: 600px) {
    .impressum_box h2 {
        font-size: 20px;
    }

    .impressum_box p {
        font-size: 10px;
    }

    .TabelleImpressum {
        font-size: 10px;
    }

}

@media (max-width: 400px) {
    .impressum_box h2 {
        font-size: 15px;
    }

    .impressum_box p {
        font-size: 5px;
    }

    .TabelleImpressum {
        font-size: 5px;
    }

        .impressum_box h2 {
        font-size: 10px;
    }
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

.recipe-preview {
    display: flex;
    margin-block: 64px;
    gap: 32px;
}

.recipe-preview div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipe-preview img {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius: var(--radius);
}

.recipe-links {
    text-align: center;
    background-color: #efefef;
    padding-bottom: 90px;
    padding-top: 20px;

}

.recipe-links div {
    display: flex;
    justify-content: space-between;
}

.recipe-links img {
    height: 250px;
    width: 250px;
    border-radius: var(--radius);
}

.recipe-title {
    display: flex;
    gap: 330px;
}

.misc-infos div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.misc-infos img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: var(--radius);
}

.misc-infos {
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}

footer {
    height: var(--footer-height);
    width: 100%;
    background-color: var(--footer-bg);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    height: var(--footer-height);
}

.footer-logo img {
    filter: invert(100%);
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

/* Responsive 768-1280 */

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .header_nav nav {
        display: none;
    }

    .hidden-on-desktop {
        display: block;
    }

    .recipe-preview img {
        height: 200px;
        width: 300px;
        object-fit: cover;
        border-radius: var(--radius);
    }

    .recipe-links img {
        height: 175px;
        width: 175px;
    }
}

/* Responsive 320-767 */

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header_nav nav {
        display: none;
    }

    .hidden-on-desktop {
        display: block;
    }

    .recipe-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recipe-preview div {
        align-items: center;
    }

    .recipe-preview img {
        width: 100%;
    }

    .recipe-links div {
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .misc-infos div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .misc-infos img {
        width: 100%;
        height: unset;
        aspect-ratio: 16 / 10;
    }
}

:root {
    --green: #248000;
    --footer-bg: #403B3B;
    --bg: #ffffff;
    --bg_alternativ: #EFEFEF;
    --border: #F7F7F7;
    --radius: 8px;
    --shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    --header-height: 70px;
    --footer-height: 90px;
    --input-btn-height: 30px;
}

.recipe-heading {
    width: 100%;
    text-align: left;
}

.recipe-image {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: var(--radius);
}

.attributes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    margin-block: 32px;
}

.attribute {
    display: flex;
    justify-content: flex-start;
    background-color: var(--bg_alternativ);
    align-items: center;
    gap: 8px;
    padding: 2px 8px;
    min-width: 130px;
    border-radius: var(--radius);
}

.attribute img {
    height: 16px;
    width: 16px;
    background-color: unset;
}

.portions-form {
    display: flex;
    margin-top: 16px;
    margin-bottom: 32px;
    align-items: center;
}

.portions-form input[type="number"] {
    width: 180px;
    height: var(--input-btn-height);
    margin-left: 32px;
    ;
    padding: 4px 8px;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border: solid 1px var(--border);
}

.ingredients-list {
    list-style: none;
    padding: 0;
    margin-block: 16px;
    width: 100%;

}

.ingredients-list li {
    border-radius: var(--radius);
    padding: 16px 32px;
}

.ingredients-list li:nth-child(odd) {
    background-color: var(--bg_alternativ);
}

.separator {
    height: 1px;
    width: 100%;
    background-color: var(--border);
    margin: 8px 0;
}

.preparation ol {
    padding-inline-start: 24px;

}

.preparation li {
    margin-bottom: 16px;
}

.creator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 64px;
    margin-bottom: 64px;
}

.creator div {
    display: flex;
    align-items: center;
    font-size: 24px;
    flex: 1;
}

.creator img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 16px;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .portions-form {
        flex-direction: column;
    }

}

@media(max-width: 500px) {
    .footer-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .logo {
        height: 40px;
    }

    .spanIcon {
        font-size: 10px;
    }

    .spanIconzbr {
        font-size: 10px;
    }

    .rezImg {
        width: 100%;
        height: 90px;
        border-radius: 7px;
    }
}

@media(max-width: 400px) {
    .footer-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }

    .logo {
        height: 30px;
    }
}

@media(max-width: 900px) {
    h2 {
        font-size: 20px;
        margin-bottom: 24px;
    }
}
