body {
    font-family: "Raleway", sans-serif;
}

.impressum {
    background-color: #f7f3f7;
    position: absolute;
    right: 35%;
    top: 30%;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    border: 1px solid rgb(0,0,0,0.05);
}

.impressum a{
    text-decoration: none;
    color: black;
}
.impressum a:hover{
    text-decoration: underline;
}
