
.impressum_box {
    text-align: left;
    max-width: 400px;
    background-color: #f7f7f7;
    padding: 24px;
    border-radius: 15px;
    border: 1px solid #e6e1ea;
}

.impressum_box h2 {
    font-size: 24px;
}

.impressum_box p {
    font-size: 15px;
}

.TabelleImpressum{
    font-size: 15px;
}

.TabelleImpressum td{
    padding: 5px;
    padding-bottom: 15px;
}

@media (max-width: 600px) {
    .impressum_box h2 {
        font-size: 20px;
    }

    .impressum_box p {
        font-size: 10px;
    }

    .TabelleImpressum {
        font-size: 10px;
    }

}

@media (max-width: 400px) {
    .impressum_box h2 {
        font-size: 15px;
    }

    .impressum_box p {
        font-size: 5px;
    }

    .TabelleImpressum {
        font-size: 5px;
    }

        .impressum_box h2 {
        font-size: 10px;
    }
}

