:root {
  --green: #248000;
  --footer-bg: #403b3b;
  --bg: #ffffff;
  --bg_alternativ: #efefef;
  --border: #f7f7f7;
  --radius: 12px;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  --header-height: 70px;
  --footer-height: 90px;
  --input-btn-height: 30px;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

html {
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: black;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  margin-block: 0;
}

h1{
  font-size: 42px;
  margin-top: 32px;
}

h2{
  font-size: 30px;
  margin-bottom: 24px;
}

h3{

  font-size: 18px;

}



.hidden-on-desktop {
  display: none;
}

.btn-primary {
  background-color: var(--green);
  height: var(--input-btn-height);
  min-width: 200px;
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

header {
  display: flex;
  height: var(--header-height);
  width: 100%;
  font-weight: 500;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 55px;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 9px;
}

nav ul {
  display: flex;
  align-items: baseline;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: #248000;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 11px;
  text-decoration-thickness: 4px;
}

.nav-active {
  color: #248000;
  text-decoration: underline;
  text-underline-offset: 11px;
  text-decoration-thickness: 4px;
}

.hamburger-menu {
  width: 30px;
}

.responsive-nav {
  max-width: 300px;
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg_alternativ);
  filter: drop-shadow(0 6px 16px rgba(0, 0, 0, 0.1));
  box-shadow: var(--shadow);
  transition: transform 100ms ease-in-out;
  border: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 20px;
}

.responsive-nav nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive-nav-closed {
  transform: translateX(100%);
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.recipe-preview {
  display: flex;
  margin-block: 64px;
  gap: 32px;
}

.recipe-preview div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipe-preview img {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 400px;
  object-fit: cover;
  border-radius: var(--radius);
}
.recipe-links {
  text-align: center;
  background-color: #efefef;
  padding-bottom: 90px;
  padding-top: 20px;
  
}

.recipe-links div {
  display: flex;
  justify-content: space-between;
}
.recipe-links img {
  height: 250px;
  width: 250px;
  border-radius: var(--radius);
}

.recipe-title {
  display: flex;
  gap: 330px;
}

.misc-infos div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.misc-infos img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: var(--radius);
}

.misc-infos {
  padding-top: 30px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}

footer {
  height: var(--footer-height);
  width: 100%;
  background-color: var(--footer-bg);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  height: var(--footer-height);
}

.footer-logo img {
  filter: invert(100%);
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* Responsive 768-1280 */

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header_nav nav {
    display: none;
  }

  .hidden-on-desktop {
    display: block;
  }

  .recipe-preview img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: var(--radius);
  }

  .recipe-links img {
    height: 175px;
    width: 175px;
  }
}

/* Responsive 320-767 */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header_nav nav {
    display: none;
  }

  .hidden-on-desktop {
    display: block;
  }

  .recipe-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe-preview div {
    align-items: center;
  }
  .recipe-preview img {
    width: 100%;
  }

  .recipe-links div {
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  }

  .misc-infos div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .misc-infos img {
    width: 100%;
    height: unset;
    aspect-ratio: 16 / 10;
  }
}
