:root {
  --green: #248000;
  --footer-bg: #403B3B;
  --bg: #ffffff;
  --bg_alternativ:#EFEFEF; 
  --border: #F7F7F7;
  --radius: 8px;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  --header-height: 70px;
  --footer-height: 90px;
  --input-btn-height: 30px;
}

.recipe-heading{
  width: 100%;
  text-align: left;
}

.recipe-image {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: var(--radius);
}

.attributes{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
  margin-block: 32px;
}

.attribute {
  display: flex;
  justify-content: flex-start;
  background-color: var(--bg_alternativ);
  align-items: center;
  gap: 8px;
  padding: 2px 8px;
  min-width: 130px;
  border-radius: var(--radius);
}

.attribute img {
  height: 16px;
  width: 16px;
  background-color: unset;
}

.portions-form {
  display: flex;
  margin-top: 16px;
  margin-bottom: 32px;
  align-items: center;
}

.portions-form input[type="number"] {
  width: 180px;
  height: var(--input-btn-height);
  margin-left: 32px;;
  padding: 4px 8px;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border: solid 1px var(--border);
}

.ingredients-list {
  list-style: none;
  padding: 0;
  margin-block: 16px;
  width: 100%;

}

.ingredients-list li {
border-radius: var(--radius);
  padding: 16px 32px;
}

.ingredients-list li:nth-child(odd) {
  background-color: var(--bg_alternativ);
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--border);
  margin: 8px 0;
}

.preparation ol{
    padding-inline-start: 24px;
   
}

.preparation li{
  margin-bottom: 16px; 
}

.creator{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}

.creator div{
  display: flex;
  align-items: center;  
  font-size: 24px;
  flex:1;
}

.creator img{
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: 16px;
}