.mc-1{
    padding-top: 40px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.rezept-bild{
    width: 100%;
    padding-bottom: 20px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
}

.icons{
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
}

.icons2{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}

.icon-1{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
    height: 25px;
    width: 80px;
    background-color: #EFEFEF;
    border-radius: 0.5rem;
}

.icon-2{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
    height: 25px;
    width: 80px;
    background-color: #EFEFEF;
    border-radius: 0.5rem;
}

.icon-3{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
    height: 25px;
    width: 105px;
    background-color: #EFEFEF;
    border-radius: 0.5rem;
}

.icon-4{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
    height: 25px;
    width: 130px;
    background-color: #EFEFEF;
    border-radius: 0.5rem;
}

.icon-5{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
    height: 25px;
    width: 220px;
    background-color: #EFEFEF;
    border-radius: 0.5rem;
}

.input-section{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mc-2{
    padding-bottom: 40px;
}

.table-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    border-collapse: separate;
    border-spacing: 0px 0px;
    width: 100%;
}

td, th{
    padding: 12px 8px;
    border-radius: 0.5rem;
}

  tr:nth-child(odd) td {
    background-color:#EFEFEF;
  }

  .ersteller{
    display: flex;
    padding-bottom: 80px;
    gap: 30px;
  }





