:root {
  --green: #248000;
  --footer-bg: #403B3B;
  --bg: #ffffff;
  --bg_alternativ:#EFEFEF; 
  --border: #F7F7F7;
  --radius: 12px;
  --shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  --header-height: 70px;
  --footer-height: 90px;
}

html{
    font-family: "Raleway", sans-serif;
    color:black;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

* {
  box-sizing: border-box;
}

.hidden-on-desktop{
    
}

.btn-primary{
    background-color: var(--green); 
    height: 30px; 
    width: 150px;
  color: white;
  padding-top: 2px;
  font-weight: 300;

  cursor: pointer;
  border:none;
  text-decoration: none;
}

header{
    display: flex;
    height: var(--header-height);
    width: 100%;
    font-weight: 500;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.header-content{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 55px;
}

.header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 9px;
}

nav ul{
    display: flex;
    align-items: baseline;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 16px;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: none;
    color: #248000;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 4px;
}

.nav-active{
    color: #248000;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 4px;
}

.responsive-nav{
    max-width: 500px;
    width: 90%;
    height: 90vh;
    display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(123, 123, 123, 0.95);
  transition: transform 220ms ease-in-out;
  border-radius: 20px;

}

main{
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    
}

.container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

.recipe-preview{
   display: flex;
   margin-block: 64px;
   gap: 32px;
}

.recipe-preview div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipe-preview img{
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius: var(--radius);
}
.recipe-links{
    text-align: center;
}

.recipe-links div{
    display: flex;
    justify-content: space-between ;
}
.recipe-links img{
    height: 250px;
    width: 250px;
    border-radius: var(--radius);
}

.misc-infos div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.misc-infos img{
    height: 250px;
    width: 250px;
    border-radius: var(--radius);
}

footer{
    height: var(--footer-height);
    width: 100%;
    background-color: var(--footer-bg);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    height: var(--footer-height);
    
}

.footer-logo img{
    filter: invert(100%);
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}




/* Responsive 768-1280 */

@media screen and (min-width: 768px) and (max-width: 1280px){

.header_nav{
    display: none;
}

}


/* Responsive 320-767 */

@media screen and (min-width: 320px) and (max-width: 767px){

    .header_nav{
        display: none;
    }
    
}